$gray900: #101828;
$gray800: #1d2939;
$gray700: #344054;
$gray600: #475467;
$gray500: #667085;
$gray400: #5d6c7b;
$gray300: #d0d5dd;
$gray200: #eaecf0;
$gray100: #f2f4f7;
$gray50: #f9fafb;
$gray25: #b2c3d5;
$moss800: #49751c;
$moss600: #70b52b;
$orangedark600: #e62e05;
$cubecolor: #70b52b;
